@import "tailwindcss";

@theme {

  --color-veryDarkBlue: "hsl(217, 19%, 35%)";
  --color-desaturatedBlue: "hsl(214, 17%, 51%)";
  --color-grayishBlue: "hsl(212, 23%, 69%)";
  --color-lightBlue: "hsl(210, 46%, 95%)";

}